@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

/* Default Light Theme Styles */
body {
  @apply text-foreground bg-background font-sans transition-colors duration-300; /* Add transition for background and text color */
}

/* Dark Theme Styles when dark class is applied to html */
html.dark body {
  @apply text-dark-foreground bg-dark-background;
}

/* Additional Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-custom {
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s ease-in-out; /* Add transition */
  }

  .dark .bg-custom {
    background-color: rgb(36, 36, 36);
  }
}

h1 {
  @apply md:text-5xl text-4xl font-semibold;
}

h2 {
  @apply md:text-3xl text-2xl font-semibold;
}

h3 {
  @apply md:text-xl text-lg font-semibold;
}
