@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme Styles */
body {
  @apply text-foreground bg-background font-sans;
}

/* Dark Theme Styles when dark class is applied to html */
html.dark body {
  @apply text-dark-foreground bg-dark-background;
}

/* Additional Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-custom {
    min-height: 100vh;
    background-image: url('/images/background-default.jpg');
    background-size: cover;
    background-position: center;
  }

  .dark .bg-custom {
    background-image: url('/images/background-dark.jpg');
  }
}

h1 {
  @apply text-3xl font-semibold;
}
